:root{
    --font-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
    --color-primary: #0b033c; 
    --color-secondary:#03a2e2;
    --color-white:#ffffff;
    --color-bg-footer:
    --shadow-7: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
    --primary-opacity:#2f57ef21;
    --color-main:#001C66;
    --color-black:#111113;
    --color-heading:#192355;
    --color-body:#6b7385;

}