.footer__form{
    .subscribe-box{
        background-image: url('/src/assets/images/subscribe-bg.svg');
        background-size: cover;
        background-position: center;
    }
}
/* button styles moved to components/button/button.scss to keep single source */