@use "./_variable" as *;
@use "./components/footer/footer" as *;
@use "./components/button/button" as *;
@use "./components/animation/tab_fade_in" as *;
@use "./components/container/container" as *;

body {
  font-family: var(--font-be-vietnam-pro);
}


