@keyframes tab-fade-in {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-tab-fade-in {
  animation: tab-fade-in 0.4s ease-in-out;
}

