.btn{
    padding: 0 26px;
    background: var(--color-primary);
    height: 60px;
    line-height: 60px;
    color: var(--color-white);
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
    border: 0 none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    &.btn-secondary{
        background: var(--color-secondary);
    
        &:hover {
            background: var(--color-primary);
            color: var(--color-white);
            transform: translate3d(0, -2px, 0);
            box-shadow: var(--shadow-7);
        }
    }
}